<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>nHehNA4L/FblPLHTJn04n7Rs+By1aoY8leL3PmvJSFUoC0vYNqAm5u1he7Zj5dR/Ry45hMrQbL6OTf3+HWcsgmW4hBVQHYfjmwU6YIdMouLXx39mkSvC3O8PBz/h5sTTpNRIIqzWfUFNy2nKw4Sxm5PUxBsNZ2RtiIcAIcTOENs=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>qjjCODQzL0T8RBdA3nJRlK+YkcO5uezab1MfaproXYK6wIGX7vTZLgCHgd/YhS74t0BFlxPnWGEnO1AzCTb8LHuMWdyDEUCzYhXSlA2+yD/A/K36PN0PJELPPfOPquo9kHleyr1gFOU/mCGMEJkM0Hqq42PXdMuQsBj4x4vdRtvp1/oaSgW/PC2bBKLMBXLoXGRMRu4wIKSkSY+TPAm6PBLvFOkTPyHQiC+4bULe58DIN9KyCAZQafhvC/CrcxlrwXBL5VUzF8E/4lLhWSoFiq1cgybM25LSYzorCEvpicExS53xEnXyGEJUf7QIm8UllItM+rX4SBiu+OfjDrAT4n6VaPrwp2REk4qhva3GIb4IgxN9OVWW9Q==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>